html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


body {
    background-color: #f4f4f4;
    color: black;
    margin: 0;
    font-size: 12px;
}

/* NAV BAR */ 

a {text-decoration: none;}

.container {
	margin-left: 0;
	width: auto;
    max-width: 1000px;
}

ul {
	padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
	list-style: none;
}

nav {
	background: white;
	font-size: 0;
	position: relative;
	display: flex;
    
}

nav > ul > li {
	display: inline-block;
  	font-size: 12px;
  	padding: 0 15px;
  	position: relative;
}

nav > ul > li > a {
	color: black;
  	display: block;
  	padding: 20px 0;
  	border-bottom: 3px solid transparent;
    transition: all .3s ease;
}
nav > ul > li:hover > a {
	color: #444; 
  	border-bottom: 3px solid #444;
}

.mega-menu {
	background: white;
  	visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  	position: absolute;
  	left: 0;
  	width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}
.mega-menu h3 {color: #444;}

.mega-menu .container {
    display: flex;
}
.mega-menu .item {
	flex-grow: 1;
    margin: 0 10px;
	text-align: center;
}
.mega-menu .item img {
    width: 100%;
}
.mega-menu a {
	border-bottom: 1px solid #ddd;
  	color: black;
  	display: block;
  	padding: 10px 0;
}
.mega-menu a:hover {color: black;}


.dropdown {position: static;}

.dropdown:hover .mega-menu {
    visibility: visible;
    opacity: 1;
}

.logo-container {
    position: absolute;
    left: 40%;
    transform: translate(50%);
}


.search-container {
	position : absolute;
	right: 0;
	top: 7px;
	padding-right: 25px;

}

	.wrapper {
  width: 100%;
  max-width: 31.25rem;
  margin: 0;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 14px;
  text-align: center;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

  /* DIV 1 */

.hero-container {
    display: flex;
    flex: row;
    height: 100%;
}

.hero-women {
    background-color: blueviolet;
    height: 100vh;
    width: 50%;
}

.hero-men {
    background-color: lightblue;
    height: 100vh;
    width: 50%;;
}
.hero-women, .hero-men {
    width: 760,4px;
    height: 1160,6px;;
    left: 0;
    right: 0;
}



/* DIV 2 */

.sneakers-container {
    background-color: red;
    height: 100vh;
    width: 100%;
}

.sneakers img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


/* DIV 3 */ 

.products-container {
    background-color: green;
    height: 80vh;
    width: auto;
}

/* FOOTER */ 

.footer-container {
    text-align: center;
}
.footer-1-ul {
    text-decoration: none !important;
    color: black;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}
.footer-2 p { 
    text-align: center;
    margin-bottom:15px;
}
.footer-2 p a {
    text-decoration: none;
    color: black;
}